{% extends "base.html" %}
<!DOCTYPE html>

<html>
{% block content %}
    <head>
        <h1>Add a Blog Entry</h1>
        <style>
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
        </style>
    </head>
    <body>
      <form action= "/newpost", method='post'>
        <label>
            Title for your new blog:
            <input type="text" name='title' />
        </label>
        <span style="color:red;" class="error">{{titleerror}}</span>
        <br></br>
        <label>
            Your new blog:
            <textarea input type='text' name='body'>
            </textarea>
        </label>
        <span style="color:red;" class="error">{{entryerror}}</span>
        <br></br>
        <input type="submit" value='Add Entry' />
      </form>
    </body>


{% endblock %} 

</html>