<!--{% extends "base.html" %}-->
<!DOCTYPE html>

<html>
<!--{% block content %}-->
    <head>
        <h1>Add a Blog Entry</h1>
        <style>
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
        </style>
    </head>
    <body>
      <form method='post'>
        <label>
            Title for your new blog:
            <input type="text" name='title' />
        </label>
        <p class="error">{{titleerror}}</p>
        <br></br>
        <label>
            Your new blog:
            <input type='text' name='body' />
        </label>
        <p class="error">{{entryerror}}</p>
        <br></br>
        <input type="submit" value='Add Entry' />
      </form>
    </body>

 <!--<ul>
        {% for blog in blogs %}
        <li>{{blog}}</li>
        {% endfor %}
    </ul>

{% endblock %} 
-->
</html>